/* all of our CSS goes here */

.hide {
    display: none;
}

#bigBniaLogo {
    margin-left: 1em;
    margin-top: 90%;
}

#onboarding {
    height: 100vh;
    background-color: steelblue;
    color: white;
    padding: 2em 2.5em;
}

#instructionsTitle {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

ol {
    padding-left: 20px;
}

#gotItBtn {
    width: 100%;
    margin-top: 2em;
}

.iconBtn {
    font-size: 16pt;
    color: rgba(255, 255, 255, 0.6);
}

.iconBtn:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.iconBtn:active {
    color: rgba(255, 255, 255, 1.0);
}

.bg-dark {
    background-color: steelblue !important;
}

#onboardingCarousel {
    height: 100%;
}

.selectContainer {
    margin-top: 0.75em;
}

.bootstrap-select .dropdown-menu {
    max-width: 80%;
    font-size: 0.9rem;
}

#mapid {
    height: 375px;
}

table {
    table-layout: fixed;
}

table td {
    word-wrap: break-word;
}

#neighborhoodCol {
    width: 75%;
}

#dataCol {
    width: 25%;
}

/* .legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
} */
