/* all of our CSS goes here */

.hide {
    display: none;
}

#bigBniaLogo {
    margin-left: 1em;
    margin-top: 90%;
}

#onboarding {
    height: 100vh;
    background-color: steelblue;
    color: white;
    padding: 2em 2.5em;
}

#onboardingCarousel {
    margin-top: 4em;
}

h4 {
    margin-bottom: 1em;
}

.carousel-indicators {
    bottom: 4em;
}

#gotItBtn {
    width: 100%;
    margin-top: 2em;
}

.iconBtn {
    font-size: 16pt;
    color: rgba(255, 255, 255, 0.6);
}

.iconBtn:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.iconBtn:active {
    color: rgba(255, 255, 255, 1.0);
}

.bg-dark {
    background-color: steelblue !important;
}

#onboardingCarousel {
    height: 100%;
}

.selectContainer {
    margin-top: 0.75em;
}

.bootstrap-select .dropdown-menu {
    max-width: 80%;
    font-size: 0.9rem;
}

#mapid {
    height: 375px;
}

#neighborhoodSelect2 {
    width: 80%;
}

table {
    table-layout: fixed;
}

table td {
    word-wrap: break-word;
}

#neighborhoodCol {
    width: 75%;
}

#dataCol {
    width: 25%;
}

#hashtag {
    opacity: 0.5;
}

.legend {
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.info {
	background: white;
	border-radius: 5px;
    padding: 5px;;
}
